services:
  app:
    build: .
    container_name: laravel_app
    user: "${MY_UID}:${MY_GID}"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    networks:
      - laravel

  web:
    image: nginx:stable
    container_name: nginx_web
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5433:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks:
      - laravel

  node:
    image: node:20
    container_name: vite_dev
    working_dir: /var/www/html
    user: "${MY_UID}:${MY_GID}"
    command: ["sh", "-c", "npm install && npm run dev"]
    ports:
      - "5173:5173"
    volumes:
      - .:/var/www/html
    networks:
      - laravel
    depends_on:
      - app

networks:
  laravel:

volumes:
  dbdata:
